// From color palette
$color-white: #ffffff;
$color-black: #232425;
$color-gray: #283137;
$color-light-gray: #404142;
$color-light-blue: #475b65;
$color-dark-purple: #764999;
$color-purple: #a161d0;
$color-light-purple: #cf9df5;
$color-red: #c23233;
$color-light-red: #d35757;
$color-pink: #f85895;
$color-light-pink: #eda7a7;
$color-yellow: #f1cc01;
$color-light-yellow: #fee856;
$color-dark-green: #669431;
$color-green: #87b64b;
$color-light-green: #a8da69;

// Varieties of color palette
$color-light-yellow-lighten: rgba($color-light-yellow, .1);

// Color variables
$color-primary-text: $color-black;
